<footer>
  <h2>I-POST</h2>
  <p>You can share your posts, explore content from others, and engage in interactive discussions.</p>
  <div class="icons">
    <a href="https://github.com/mohametalmeari" target="_blank">
      <%= image_tag "github.svg", height: 20 %>
    </a> |
    <a href="https://www.linkedin.com/in/mohamet-almeari/" target="_blank">
      <%= image_tag "linkedin.svg", height: 20 %>
    </a> |
    <a href="https://medium.com/@mohamet.almeari" target="_blank">
      <%= image_tag "medium.svg", height: 20 %>
    </a> |
    <a href="https://twitter.com/MohametAlmeari" target="_blank">
      <%= image_tag "twitterx.svg", height: 20%>
    </a> |
    <span>contact@mo-dev.site</span>
  </div>
  <p> Copyright ©2023 
    <a href="https://mo-dev.site/" target="_blank">
      www.mo-dev.site
    </a>
  </p>
</footer>
