<footer>
<h2>I-POST</h2>
<p>You can share your posts, explore content from others, and engage in interactive discussions.</p>
<p>Contact info: contact@mo-dev.site</p>
<p>Copyright ©2023</p>

</footer>