<% unless @all_posts.size == 0 %>
  <h2>Recent Posts</h2>
  <%= render 'posts/cards', posts: @posts %>
  <%= link_to "All Posts ( #{@all_posts.size} )", posts_path, class: "all-posts-link" %>
<% else %>
  <h2>No Posts</h2>
<% end %>
<%= link_to 'New Post', new_post_path, class: "new-posts-link" %>
