@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nova+Square&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: 'Poppins', sans-serif;
}

.link {
  border: none;
  background: none;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
}

nav {
  display: flex;
  background-color: #ffb703;
  align-items: center;
  justify-content: space-between;
  padding: 6px 0;
}

.nav-link {
  color: #023047;
  border-left: solid #fb8500 1px;
  flex: 1;
  text-align: center;
  padding: 4px 0;
  font-family: 'Nova Square', sans-serif;
  font-size: 16px;
  transition: flex 0.3s ease, color 0.2s ease;
}

.nav-link:hover {
  flex: 1.5;
  color: #219ebc;
}

.nav-link:first-child {
  border-left: none;
}
