@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nova+Square&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  color: #023047;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  color: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

.link {
  border: none;
  background: none;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
}

nav {
  position: sticky;
  top: 0;
  display: flex;
  background-color: #ffb703;
  align-items: center;
  justify-content: space-between;
  padding: 6px 0;
  box-shadow: 0 1px 2px 0 #fb8500;
  z-index: 999;
}

.nav-link {
  border-left: solid #fb8500 2px;
  flex: 1;
  text-align: center;
  padding: 4px 0;
  font-family: 'Nova Square', sans-serif;
  font-size: 16px;
  transition: flex 0.3s ease, color 0.2s ease;
}

.all-posts-link,
.new-posts-link {
  border-left: solid #023047 2px;
  font-family: 'Nova Square', sans-serif;
  font-size: 16px;
  padding: 0 16px;
  transition: color 0.3s ease;
}

.all-posts-link {
  padding-left: 0;
  border-left: none;
}

.all-posts-link:hover,
.new-posts-link:hover {
  color: #fb8500;
}

.nav-link:hover {
  flex: 1.5;
  color: #219ebc;
}

.nav-link:first-child {
  border-left: none;
}

.nav-link:last-child:hover {
  color: red;
}

main {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: white;
  flex: 1;
}

.post-card {
  background-color: #8ecae6;
  box-shadow: 2px 2px 2px 0 #219ebc;
  text-shadow: 1px 1px 1px #8ecae6;
  padding: 16px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  transition: background-color 0.2s ease, color 0.1s ease;
}

.post-card:hover {
  background-color: #023047;
  color: white;
  text-shadow: none;
}

.posts-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 8px 0;
}

.post-header {
  font-weight: bolder;
  display: flex;
  align-items: center;
  gap: 4px;
}

.post-title {
  flex: 1;
  font-style: italic;
}

.post-content {
  overflow: hidden;
}

.post-footer {
  display: flex;
  gap: 8px;
  align-items: center;
}

.tag {
  border: solid 1px black;
  color: black;
  font-size: 10px;
  padding: 2px 6px;
  border-radius: 8px;
  text-shadow: none;
  box-shadow: none;
  width: fit-content;
}

.private-tag {
  border-color: #fb8500;
  color: #fb8500;
}

.mine-tag {
  border-color: #219ebc;
  color: #219ebc;
}

footer {
  color: #219ebc;
  background-color: #023047;
  padding: 48px 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

footer h2 {
  font-family: 'Nova Square', sans-serif;
  font-size: 16px;
}

footer p {
  font-size: 14px;
  display: flex;
  gap: 8px;
}

footer a {
  display: flex;
}

.icons {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}

.post-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.text-field {
  padding: 4px 8px;
  border: solid 2px #8ecae6;
  border-radius: 4px;
  outline: none;
}

.text-field:focus {
  border: solid 2px #fb8500;
}

.text-area {
  padding: 4px 8px;
  border: solid 2px #8ecae6;
  border-radius: 4px;
  outline: none;
  min-height: 150px;
  resize: vertical;
}

.text-area.comment {
  min-height: 50px;
}

.text-area:focus {
  border: solid 2px #fb8500;
}

.submit,
.delete {
  width: fit-content;
  padding: 6px 8px;
  border-radius: 4px;
  border: solid 2px #ffb703;
  background-color: #fb8500;
  color: white;
  font-family: 'Nova Square', sans-serif;
  font-size: 16px;
  transition: background-color 0.2s ease, color 0.1s ease, border-color 0.1s ease;
}

.delete {
  border-color: #ef233c;
  background-color: #ef233c;
}

.delete:hover {
  border-color: #ef233bbb;
  background-color: #ef233bbb;
}

.submit:hover {
  border-color: #ffb803bb;
  background-color: #fb8600bb;
}

.submit:focus {
  color: #023047;
}

.check-box-container {
  display: flex;
  align-items: center;
  gap: 4px;
}

.field {
  display: flex;
  align-items: center;
}

.field-label {
  padding: 4px 8px;
  border: solid 2px #219ebc;
  border-right: none;
  border-radius: 4px 0 0 4px;
  outline: none;
  font-size: 14px;
  flex: 4;
  background-color: #219ebc;
  color: white;
}

.field-input {
  padding: 4px 8px;
  border: solid 2px #219ebc;
  border-radius: 0 4px 4px 0;
  outline: none;
  font-size: 14px;
  flex: 10;
}

.field-input:focus {
  background-color: #8ecae6;
}

.user-form {
  display: flex;
  gap: 16px;
  flex-direction: column;
}

.actions {
  display: flex;
  gap: 8px;
  align-items: center;
}

main h2 {
  margin-bottom: 8px;
}

.post-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.comment-card, .reply-card {
  border-radius: 0 16px 16px;
  padding: 16px;
  border: solid 2px #8ecae6;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.reply-card {
  border-radius: 16px 0 16px 16px;
}

.btn-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.likes-container {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #219ebc;
}

.icon-container {
  background: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 30px;
  height: 30px;
}

.icon-container.comment {
  width: 20px;
  height: 20px;
}

.icon-container > * {
  position: absolute;
  top: 0;
  left: 0;
}

.hover-like {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.hover-like:hover {
  opacity: 1;
}

.post-text {
  border: solid 2px #219ebc;
  border-top-width: 4px;
  padding: 16px;
  border-radius: 0 0 16px 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.writer-name {
  border-top: solid 1px #8ecae6;
  padding-top: 4px;
  font-size: 12px;
}

.back-link {
  width: fit-content;
  margin-bottom: 8px;
  color: #219ebc;
  position: relative;
  padding-bottom: 5px;
}

.back-link.del-link {
  color: #ef233c;
}

.back-link.del-link::after {
  background-color: #ef233c;
}

.back-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 3px;
  background-color: #219ebc;
  transition: width 0.3s ease;
}

.back-link:hover::after {
  width: 100%;
}

.links-container {
  display: flex;
  gap: 12px;
}
