<amp-ad 
    <%# width="100vw" height="320" %>
    type="adsense"
    data-ad-client="ca-pub-2003048359515125"
    data-ad-slot="5821686203"
    data-auto-format="rspv"
    data-full-width="">
  <div overflow=""></div>
</amp-ad>
